<div class="view jarallax" style="height: 80vh;">
    <img class="jarallax-img"
         src="https://getwallpapers.com/wallpaper/full/2/e/8/358759.jpg"
         alt="home intro"
    />
    <div class="mask rgba-black-strong">
        <div class="container flex-center text-center">
            <div class="row mt-5">
                <div class="col-md-12 wow fadeIn mb-3">
                    <h1 class="display-3 mb-2 wow fadeInDown text-white" data-wow-delay="0.3s">Stephen<a class="indigo-text font-weight-bold">Brooks</a></h1>
                    <h2 class="text-uppercase mb-3 mt-1 font-weight-bold text-white h5 wow fadeIn" data-wow-delay="0.4s">
                        Web Developer & Coding Instructor.
                    </h2>
                    <a class="btn btn-light-blue btn-lg wow fadeIn" data-wow-delay="0.4s">portfolio</a> <a class="btn btn-indigo btn-lg wow fadeIn" data-wow-delay="0.4s">About Us</a>
                </div>
            </div>
        </div>
    </div>
</div>
