<head>
    <title><%- locals.title || "Express Developer" -%></title>
    <meta xml:lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="content-type">
    <link rel="icon" href="/assets/titleLogo-bg.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="article" content="Express Development with Bootstrap & Mongoose Atlas">
    <meta title="express developer" about="Express Development with Bootstrap & Mongoose Atlas">
    <meta name="Stephen Brooks" content="Web Developer for hire">
    <meta property="og:title" content="Using Express As A Framework for Small Businesses" />
    <meta property="og:description" content="Getting the most out of simple with the power of JavaScript." />
    <meta property="og:image" content="/assets/titleLogo-bg.png" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="/mdb.min.css" />
    <link rel="stylesheet" href="/bootstrap.min.css" />
    <link rel="stylesheet" href="/parallax.min.css" />
    <link rel="stylesheet" href="/styles/index.css">
</head>