<div class="row justify-content-center align-items-center text-center">
    <div class="col-lg-3 zoom col-md-6 col-sm-12 mb-3">
        <a href="">
            <i class="fas fa-cogs fa-2x"></i>
            <h2 class="h4">Setting Up</h2>
        </a>
        <p class="text-muted">
            Getting the right tools for the work, includes a code editor
            and needed installations for debugging.
        </p>
        <a href="https://stephen-brooks-s-school.teachable.com" target="_blank" class="btn btn-black text-white">Buy Course</a>
    </div>
    <div class="col-lg-3 zoom col-md-6 col-sm-12 mb-3">
        <a href="">
            <i class="fab fa-css3 fa-2x"></i>
            <h2 class="h4">Front End</h2>
        </a>
        <p class="text-muted">
            The front end includes HTMl, & CSS. With all three
            you can create a responsive page design.
        </p>
        <a href="https://stephen-brooks-s-school.teachable.com/purchase?product_id=5164335" target="_blank" class="btn btn-black text-white">Buy Course</a>
    </div>
    <div class="col-lg-3 zoom col-md-6 col-sm-12 mb-3">
        <a href="">
            <i class="fab fa-css3 fa-2x"></i>
            <h2 class="h4">Using CSS3</h2>
        </a>
        <p class="text-muted">
            Adding styles to a website will make more appealing and help placing of content. Also
            make your pages responsive to screens.
        </p>
        <a href="https://stephen-brooks-s-school.teachable.com" target="_blank" class="btn btn-black text-white">Buy Course</a>
    </div>
    <div class="col-lg-3 zoom col-md-6 col-sm-12 mb-3">
        <a href="">
            <i class="fab fa-react fa-2x"></i>
            <h2 class="h4">JavaScript</h2>
        </a>
        <p class="text-muted">
            A JavaScript app will help make pages more responsive, and handle form validations.
            Also with logic and decision-making.
        </p>
        <a href="https://stephen-brooks-s-school.teachable.com" target="_blank" class="btn btn-black text-white">Buy Course</a>
   </div>
</div>