<div class="row justify-content-center mb-5 align-items-center">
    <div class="col-md-6 mb-3">
        <h3>Debugging Code</h3>
        <hr>
        <code>
            const listItems = ["html", "css", "javascript"] <br>
            function getItems() { <br>
                for(i=0; i < listItems.length; i++); <br>
                console.log(listItems[0]); <br>
            } <br>
            getItems;
        </code>
    </div>
    <div class="col-md-6 mb-3">
        <h3>Using JavaScript</h3>
        <p>
            Building apps and debugging the code as you go along is a part of my teaching. The code on the left may look genuine,
            especially first time seeing it, but there may be a bug in it, or an error. This type of coding is what I do in my all
            my courses. I create problems, I make it wrong, then work it out with you.
        </p>
    </div>
</div>