<div class="row justify-content-center align-items-center text-center">
    <div class="col-lg-3 zoom col-md-6 col-sm-12 mb-3">
        <a href="">
            <i class="fas fa-cogs fa-2x"></i>
            <h2 class="h4">Setting Up</h2>
        </a>
        <p class="text-muted">
            Getting the right tools for the work, includes a code editor
            and needed installations for debugging.
        </p>
        <div class="ecsp ecsp-SingleProduct-v2 ecsp-Product ec-Product-560137319" itemtype="http://schema.org/Product" data-single-product-id="560137319"><div class="ecsp-title" itemprop="name" style="display:none;" content="Learn Code Editing Tools"></div><div customprop="addtobag"></div></div><script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?88042264&data_platform=singleproduct_v2" charset="utf-8"></script><script type="text/javascript">xProduct()</script>
    </div>
    <div class="col-lg-3 zoom col-md-6 col-sm-12 mb-3">
        <a href="">
            <i class="fab fa-css3 fa-2x"></i>
            <h2 class="h4">Front End</h2>
        </a>
        <p class="text-muted">
            The front end includes HTMl, CSS, & JavaScript. With all three
            you can create a responsive page design.
        </p>
        <div class="ecsp ecsp-SingleProduct-v2 ecsp-Product ec-Product-560111225" itemtype="http://schema.org/Product" data-single-product-id="560111225"><div class="ecsp-title" itemprop="name" style="display:none;" content="Learn HTML5 basics and advanced"></div><div customprop="addtobag"></div></div><script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?88042264&data_platform=singleproduct_v2" charset="utf-8"></script><script type="text/javascript">xProduct()</script>
    </div>
    <div class="col-lg-3 zoom col-md-6 col-sm-12 mb-3">
        <a href="">
            <i class="fab fa-css3 fa-2x"></i>
            <h2 class="h4">Using CSS3</h2>
        </a>
        <p class="text-muted">
            Adding styles to a website will make more appealing and help placing of content. Also
            make your pages responsive to screens.
        </p>
        <div class="ecsp ecsp-SingleProduct-v2 ecsp-Product ec-Product-560120741" itemtype="http://schema.org/Product" data-single-product-id="560120741"><div class="ecsp-title" itemprop="name" style="display:none;" content="Learn to use CSS3"></div><div customprop="addtobag"></div></div><script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?88042264&data_platform=singleproduct_v2" charset="utf-8"></script><script type="text/javascript">xProduct()</script>
    </div>
    <div class="col-lg-3 zoom col-md-6 col-sm-12 mb-3">
        <a href="">
            <i class="fab fa-react fa-2x"></i>
            <h2 class="h4">JavaScript</h2>
        </a>
        <p class="text-muted">
            A JavaScript app will help make pages more responsive, and handle form validations.
            Also with logic and decision-making.
        </p>
        <div class="ecsp ecsp-SingleProduct-v2 ecsp-Product ec-Product-560124685" itemtype="http://schema.org/Product" data-single-product-id="560124685"><div class="ecsp-title" itemprop="name" style="display:none;" content="Learn JavaScript basics from scratch"></div><div customprop="addtobag"></div></div><script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?88042264&data_platform=singleproduct_v2" charset="utf-8"></script><script type="text/javascript">xProduct()</script>
    </div>
</div>