<!--code-->
<div class="row mb-5 pb-5 text-center justify-content-center align-items-center">
    <div class="col-md-3 zoom p-3">
        <a href="https://seniorburialexpense.com/" target="_blank">
            <h2 class="h4">Insurance Agency</h2>
            <img src="/assets/brooksInsurance.png"
                 class="img-fluid"
                 alt="Project Title"
            />
        </a>
    </div>
    <div class="col-md-3 zoom p-3">
        <a href="https://ecommerce-templae.netlify.app/" target="_blank">
            <h2 class="h4">eCommerce App</h2>
            <img src="/assets/ecommerceApp.png"
                 class="img-fluid"
                 alt="Project Title"
            />
        </a>
    </div>
    <div class="col-md-3 zoom p-3">
        <a href="https://dramacidepaws.com/" target="_blank">
            <h2 class="h4">Dramacide Kennel</h2>
            <img src="/assets/dramacideKennel.png"
                 class="img-fluid"
                 alt="Project Title"
            />
        </a>
    </div>
    <div class="col-md-3 zoom p-3">
        <a href="https://sprightly-lebkuchen-61f01f.netlify.app/" target="_blank">
            <h2 class="h4">Photography Site</h2>
            <img src="/assets/photography.png"
                 class="img-fluid"
                 alt="Project Title"
            />
        </a>
    </div>
</div>